*{
  margin:0;
  padding:0;
  font-family:"Poppins",sans-serif;
  box-sizing:border-box
}

body{
    font-family: fantasy;
    background-color: #ece2c6; 
    width: 600px;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 100px;
}

h1, p{
  color:brown;
}


.btnVerificar{
  margin-top: 20px;
  height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
}
